body {
  margin: 0;
  font-family: 'Inter', 'Roboto', sans-serif;
  color: #1e293b;
  
  /* Background */
  background: url('../images/website-bg.mp4') no-repeat center center fixed;
  background-size: cover;

  /* Subtle movement effect */
  animation: backgroundMove 60s linear infinite;
}

@keyframes backgroundMove {
  0% { background-position: 0 0; }
  50% { background-position: 100px 100px; }
  100% { background-position: 0 0; }
}

